/rmi-app/nbproject/private/
/rmi-app/build/
/client/nbproject/private/
/client/build/
/server/nbproject/private/
/interface/nbproject/private/
/interface/dist/
/interface/build/
/server/build/
/server/dist/
/client/dist/